---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="py-16 max-w-3xl mx-auto">
      <h1 class="text-4xl font-medium font-display text-base-900">About me</h1>

      <p class="mt-6 text-base-700 leading-relaxed text-justify">
        I am a Senior Software Engineer working on SRE and AI Enablement. I also teach a course at Universidad
        Pontificia de Comillas focused on Cloud Computing. I am currently
        diving deep to understand how GenAI will influence the tech world of the
        future.
      </p>

      <h2 class="mt-10 text-2xl font-medium font-display text-base-900">Contact</h2>
      <p class="mt-4 text-base-700 leading-relaxed text-justify">
        Feel free to connect with me on
        <a href="https://www.linkedin.com/in/ealejo1/" target="_blank" class="text-base-600 hover:text-base-500 underline">LinkedIn</a>
        or
        <a href="https://github.com/easox23" target="_blank" class="text-base-600 hover:text-base-500 underline">GitHub</a>.
      </p>
    </div>
  </section>
</BaseLayout>
