---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="py-12">
      <h2 class="text-xs font-semibold text-base-600 uppercase tracking-widest mb-6">Search</h2>
      <div id="search"></div>
    </div>
  </section>
</BaseLayout>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js" is:inline></script>
<script>
  new PagefindUI({ element: "#search", showImages: false });
</script>
